@use '../utils/mixins';
@import '../utils/variables';


footer {
    background-color: $darkgrey;
    padding: 22px 25px;

    .content {
        .logo__footer {
            margin-bottom: 20px;

            svg {
                width: 140px;

                path {
                    fill: $white;
                }  
            }
        }

        .ml {
            ul {
                display: flex;
                flex-direction: column;
                gap: 10px;

                li {
                    .picto__footer {
                        margin-right: 12px;
                        color: $white;
                        width: 13px;
                    } 


                    a {
                        color: $white;

                        &.bold {
                            font-weight: 500;

                        } 
                    }
                }
            }
        }
    }
}