// --- 
// RESPONSIVE
// ---

// @mixin mobile {
//     @media (min-width: 320px) {
//         @content;
//     }
// }

@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1024px) {
        @content;
    }
}

// --- 
// ANIMATIONS
// ---

@mixin keyframes ($animation-name) {
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($name) {
    animation: #{$name};
}

@include keyframes(fadeInUp) {
    0% {
        opacity: 0;
        transform: translateY(50%);
      }
            
      100% {
        opacity: 1;
        transform: translateY(0);
      }
}
